body {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 26px;
    color: #000;
}

label {
    font-size: 10px;
    color: rgba(34, 34, 34, 0.9);
    display: block;
    margin-top: 10px;
}

input, select {
    font-size: 12px;
    color: #999;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
}

button {
    font-size: 12px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 6px 15px;        /* Diminuindo a altura do botão (antes era 10px 20px) */
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

button {
    font-size: 12px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 6px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.erro {
    color: red;
    font-size: 10px;
}

.bloco-form {
    max-width: 600px;    /* Limita a largura máxima do formulário */
    margin: 0 auto;      /* Centraliza o formulário horizontalmente */
    padding: 20px;       /* Espaçamento interno */
    border: 1px solid #ccc; /* Adiciona a borda de 1px com cor cinza claro */
    border-radius: 5px;  /* Canto arredondado de 5px (opcional) */
    background-color: #fff; /* Fundo branco para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra ao redor */
    

}

.email-data{
    display: flex;
    justify-content: space-between; /* Espaço entre os campos para que um fique no início e o outro no final */
    align-items: center; /* Alinha verticalmente os campos no centro */
    width: 100%; /* O contêiner ocupa toda a largura disponível */
    
}

.campo-1 {
    display: flex;
    flex-direction: column; /* Os labels e inputs são organizados em coluna dentro de cada campo */
    width: 60%;
}

.campo-2 {
    display: flex;
    flex-direction: column; /* Os labels e inputs são organizados em coluna dentro de cada campo */
    width: 28%;
}

.telefone-perfil{
    display: flex;
    justify-content: space-between; /* Espaço entre os campos para que um fique no início e o outro no final */
    align-items: center; /* Alinha verticalmente os campos no centro */
    width: 100%; /* O contêiner ocupa toda a largura disponível */
    
}

.fixo {
    display: flex;
    flex-direction: column; /* Os labels e inputs são organizados em coluna dentro de cada campo */
    width: 28%;
}

.celular {
    display: flex;
    flex-direction: column; /* Os labels e inputs são organizados em coluna dentro de cada campo */
    width: 28%;
}

.perfil {
    display: flex;
    flex-direction: column; /* Os labels e inputs são organizados em coluna dentro de cada campo */
    width: 28%;
}

.botoes {
    display: flex;
    justify-content: center;  /* Centraliza os botões */
    gap: 10px;                /* Espaçamento entre os botões */
    margin-top: 20px;         /* Espaçamento superior para separar os botões do restante do formulário */
}
